<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.barran.gank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.DailyContentActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".app.ImagesActivity"
            android:label="@string/welfare" />
        <activity
            android:name=".app.HistoryDatesActivity"
            android:label="@string/history" />
        <activity
            android:name=".app.AboutActivity"
            android:label="@string/menu_about" />
        <activity
            android:name=".app.ViewedInfoListActivity"
            android:label="@string/menu_history" />
        <activity
            android:name=".app.FavoriteListActivity"
            android:label="@string/menu_favorite" />
        <activity android:name=".app.HtmlActivity" />
        <activity android:name=".app.BigImageActivity"/>
    </application>

</manifest>